body {
  margin: 0;
  padding-left: 10%;
  padding-right: 10%;
  font-family: Arial, sans-serif;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: coral;
}

.login-form {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-header {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 24px;
}



.input-label {
  font-size: 1.6rem;
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
  text-align: left;
}

.input-field {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  font-size: 1.6rem;
  border: 1px solid #dddfe2;
  border-radius: 6px;
  outline: none;
}

.login-button {
  background-color: #1877f2;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 12px 24px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.login-button:hover {
  background-color: #166fe5;
}

.forgot-password,
.create-account {
  font-size: 1.4rem;
  margin-top: 24px;
}

.forgot-password a,
.create-account a {
  color: #1877f2;
  text-decoration: none;
}

.forgot-password a:hover,
.create-account a:hover {
  text-decoration: underline;
}
